<config>
    <modules>
        <PChomePay_PChomePayPayment>
            <version>0.0.1</version>
        </PChomePay_PChomePayPayment>
    </modules>

    <global>
        <models>
            <pchomepaypayment>
                <class>PChomePay_PChomePayPayment_Model</class>
            </pchomepaypayment>
        </models>
        <blocks>
            <pchomepaypayment>
                <class>PChomePay_PChomePayPayment_Block</class>
            </pchomepaypayment>
        </blocks>
        <helpers>
            <pchomepaypayment>
                <class>PChomePay_PChomePayPayment_Helper</class>
            </pchomepaypayment>
        </helpers>
        <resources>
            <pchomepaypayment_setup>
                <setup>
                    <module>PChomePay_PChomePayPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pchomepaypayment_setup>
            <pchomepaypayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pchomepaypayment_write>
            <pchomepaypayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pchomepaypayment_read>
        </resources>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <pchomepay_pchomepaypayment>
                    <files>
                        <default>PChomePay_Payment.csv</default>
                    </files>
                </pchomepay_pchomepaypayment>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <secure_url>
            <pchomepaypayment_payment>/PChomePayPayment/Payment</pchomepaypayment_payment>
        </secure_url>
        <routers>
            <pchomepaypayment>
                <use>standard</use>
                <args>
                    <module>PChomePay_PChomePayPayment</module>
                    <frontName>pchomepaypayment</frontName>
                </args>
            </pchomepaypayment>
        </routers>
        <translate>
            <modules>
                <PChomePay_PChomePayPayment>
                    <files>
                        <default>PChomePay_Payment.csv</default>
                    </files>
                </PChomePay_PChomePayPayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <pchomepaypayment>
                    <file>pchomepaypayment.xml</file>
                </pchomepaypayment>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <pchomepaypayment_paymentmodel>
                <model>pchomepaypayment/paymentModel</model>
                <order_status>1</order_status>
                <title>支付連 PChomePay</title>
                <active>1</active>
            </pchomepaypayment_paymentmodel>
        </payment>
    </default>
</config>