<config>
    <modules>
        <PChomePay_PChomePayPayment>
            <version>0.0.1</version>
        </PChomePay_PChomePayPayment>
    </modules>

    <global>
        <models>
            <pchomepaypayment>
                <class>PChomePay_PChomePayPayment_Model</class>
            </pchomepaypayment>
        </models>
        <blocks>
            <pchomepaypayment>
                <class>PChomePay_PChomePayPayment_Block</class>
            </pchomepaypayment>
        </blocks>
        <helpers>
            <pchomepaypayment>
                <class>PChomePay_PChomePayPayment_Helper</class>
            </pchomepaypayment>
        </helpers>
    </global>

    <default>
        <payment>
            <pchomepaypayment_paymentModel>
                <model>pchomepaypayment/paymentModel</model>
                <order_status>1</order_status>
                <title>支付連 PChomePay</title>
                <active>1</active>
            </pchomepaypayment_paymentModel>
        </payment>
    </default>

    <adminhtml>
        <translate>
            <modules>
                <pchomepay_pchomepaypayment>
                    <files>
                        <default>PChomePay_Payment.csv</default>
                    </files>
                </pchomepay_pchomepaypayment>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <routers>
            <pchomepaypayment>
                <use>standard</use>
                <args>
                    <module>PChomePay_PChomePayPayment</module>
                    <frontName>pchomepaypayment</frontName>
                </args>
            </pchomepaypayment>
        </routers>
        <translate>
            <modules>
                <PChomePay_PChomePayPayment>
                    <files>
                        <default>PChomePay_Payment.csv</default>
                    </files>
                </PChomePay_PChomePayPayment>
            </modules>
        </translate>
    </frontend>
</config>