<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <pchomepaypayment_paymentmodel translate="label" module="pchomepaypayment">
                    <label>支付連 PChomePay</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>啓用/停用</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>標題</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <pchomepay_testMode translate="label">
                            <label>測試模式</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_testMode>
                        <pchomepay_appID translate="label">
                            <label>APP ID(*)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_appID>
                        <pchomepay_secret translate="label">
                            <label>SECRET(*)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_secret>
                        <pchomepay_sandboxSecret translate="label">
                            <label>SANDBOX SECRET(*)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_sandboxSecret>
                        <pchomepay_paymentMethods translate="label">
                            <label>付款方式</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>7</sort_order>
                            <source_model>pchomepaypayment/source_paymentmethods</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>多選: Ctrl + 選取</comment>
                        </pchomepay_paymentMethods>

                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>7</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>8</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </specificcountry>
                    </fields>
                </pchomepaypayment_paymentmodel>
            </groups>
        </payment>
    </sections>
</config>
