<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <pchomepaypayment translate="label" module="pchomepaypayment">
                    <label>支付連 PChomePay</label>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>啓用/停用</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>標題</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <pchomepay_testMode translate="label">
                            <label>測試模式</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>使用支付連 SandBox 測試環境</comment>
                        </pchomepay_testMode>
                        <pchomepay_appID translate="label">
                            <label>APP ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>必填</comment>
                        </pchomepay_appID>
                        <pchomepay_secret translate="label">
                            <label>SECRET</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>必填</comment>
                        </pchomepay_secret>
                        <pchomepay_sandboxSecret translate="label">
                            <label>SANDBOX SECRET</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>必填</comment>
                        </pchomepay_sandboxSecret>
                        <pchomepay_paymentMethods translate="label">
                            <label>付款方式</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>7</sort_order>
                            <source_model>pchomepaypayment/source_paymentMethods</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>按下 CTRL 與 滑鼠左鍵 以選擇多種付款方式</comment>
                        </pchomepay_paymentMethods>
                        <pchomepay_cardInstallment translate="label">
                            <label>信用卡分期</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>8</sort_order>
                            <source_model>pchomepaypayment/source_cardInstallment</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>按下 CTRL 與 滑鼠左鍵 以選擇多種分期方式</comment>
                        </pchomepay_cardInstallment>
                        <pchomepay_atmExpiredate translate="label">
                            <label>ATM 虛擬帳號繳費期限</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>請輸入 ATM 虛擬帳號繳費期限(1~5天)，預設 5 天</comment>
                        </pchomepay_atmExpiredate>
                        <pchomepay_cardLastNumber translate="label">
                            <label>記錄信用卡末四碼</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_cardLastNumber>

                        <pchomepay_create_status translate="label">
                            <label>訂單建立狀態</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>11</sort_order>
                            <source_model>pchomepaypayment/source_orderstatuses</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_create_status>

                        <pchomepay_success_status translate="label">
                            <label>付款完成狀態</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>12</sort_order>
                            <source_model>pchomepaypayment/source_orderstatuses</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_success_status>

                        <pchomepay_failed_status translate="label">
                            <label>付款失敗狀態</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>13</sort_order>
                            <source_model>pchomepaypayment/source_orderstatuses</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pchomepay_failed_status>

                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>7</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>8</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </specificcountry>
                    </fields>
                </pchomepaypayment>
            </groups>
        </payment>
    </sections>
</config>
